.footer-adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  max-width: 1600;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-backgraund-color);
  .container {
    display: flex;
    align-items: baseline;
  }
}

// .footer-logo {
//   display: block;
//   font-family: var(--logo-font-family);
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: var(--focus-font-color);
//   margin-bottom: 20px;
// }
.logo--footer {
  color: #ffffff;
}
.footer-adress__adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--focus-font-color);
  }
}

.footer-adress__mail,
.footer-adress__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--focus-font-color);
  }
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
}
.footer-soc-list__item + .footer-soc-list__item {
  margin-left: 10px;
}
.footer-soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--focus-font-color);
    color: var(--first-title-color);
    outline: none;
  }
}
.footer-soc-list__icon {
  fill: currentColor;
}

.footer-soc {
  margin-left: 70px;
}
.mailing {
  margin-left: 93px;
}
.mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-btn {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  cursor: pointer;
  margin-left: 12px;
  transition: backgraund 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.subscribe-btn-icon {
  margin-left: 10px;
  fill: currentColor;
}
.footer-form-field {
  display: flex;
}
