.header {
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--focus-font-color);
  margin-right: 93px;
}
.logo--header {
  color: #000000;
}

.header-list {
  display: flex;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}
.header-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-font-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--focus-font-color);
  }
  &:focus {
    color: var(--focus-font-color);
  }
  .link .header {
    background-color: #ffffff;
  }
}

.current {
  color: var(--focus-font-color);
}

.header-adress {
  display: flex;
  margin-left: auto;
}

.header-adress > li + li {
  margin-left: 50px;
}

.header-adress__icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-adress__mail,
.header-adress__tel {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--adress-font-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--focus-font-color);
  }
}
