body {
    font-family: 'Roboto', sans-serif;
    color: #757575;
  }
  
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  section {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 2px solid teal; */
  }