:root {
    --first-title-color: #ffffff;
    --second-title-color: #212121;
    --second-font-color: #212121;
    --adress-font-color: #757575;
    --focus-font-color: #2196f3;
    --accent-backgraund-color: #2f303a;
    --logo-font-family: 'Raleway';
      }
  